@layer jazz {
  .badge {
    display: inline-flex;
    align-items: center;
    gap: var(--spacing-1);
    padding-inline: var(--spacing-2);
    border-radius: 999px;
    font-size: 0.75rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    user-select: none;
    line-height: 1.5;
    background-color: var(--jazz-neutral-200);
    color: var(--jazz-neutral-900);

    &.secondary {
      background-color: var(--jazz-neutral-800);
      color: var(--jazz-neutral-100);
    }

    &.destructive {
      background-color: var(--jazz-destructive-100);
      color: var(--jazz-destructive);
    }

    &.outline {
      background-color: transparent;
      outline: 1px solid currentColor;
      outline-offset: -1px;
    }
  }
}
