@layer jazz {
  fieldset[role="group"] {
    display: inline-flex;
    align-items: stretch;
    border: 1px solid var(--jazz-neutral-200);
    border-radius: 10px;
    padding: 0;

    & > * {
      border-radius: 0;
      border-right: 1px solid var(--jazz-neutral-200);

      &:first-child {
        border-radius: 9px 0 0 9px;
      }

      &:last-child {
        border-right: none;
        border-radius: 0 9px 9px 0;
      }

      &:first-child:last-child {
        border-radius: 9px;
      }
    }

    & > input {
      flex: 1;
      outline: none;
      border: none;
      border-right: 1px solid var(--jazz-neutral-200);

      min-width: 0;
      border-radius: 0;
    }

    &:has(input:focus) {
      border-color: var(--jazz-neutral-500);
    }

    & > button,
    & > .button {
      &:active {
        translate: 0;
      }
    }

    label {
      outline: none;
      border-radius: 0;
    }

    + fieldset[role="group"] {
      margin-left: 0.5rem;
    }
  }
}
