@layer jazz {
  fieldset[role="group"] {
    display: inline-flex;
    align-items: stretch;
    padding: 0;
    vertical-align: bottom;
    border: none;
    /* background: var(--jazz-background-color); */

    & > *:not(.field) {
      position: relative;
      border-radius: 0;
      margin-right: -1px;

      box-shadow: 0 0 0 1px var(--jazz-neutral-200) inset;

      &:first-child {
        border-radius: 9px 0 0 9px;
      }

      &:last-child {
        border-radius: 0 9px 9px 0;
        margin-right: 0;
      }

      &:hover,
      &:focus-within,
      &:active {
        z-index: 1;
      }
    }

    & > :only-child:not(.field) {
      border-radius: 9px;
    }

    & > input {
      flex: 1;
      min-width: 0;

      &:focus {
        border-color: var(--jazz-neutral-500);
      }
    }

    label:not(.field) {
      line-height: calc(16 / 14 * 1em);
      border-radius: 0;
    }
  }
}
