@layer jazz {
  article {
    border: 1px solid var(--jazz-neutral-100);
    border-radius: 12px;
    overflow: hidden;
    padding: var(--spacing-6);

    &:has(> header, > footer) {
      padding: 0;
    }

    & > header,
    & > footer {
      padding: var(--spacing-4) var(--spacing-6);
    }

    & > header {
      border-bottom: 1px solid var(--jazz-neutral-100);
    }

    & > footer {
      border-top: 1px solid var(--jazz-neutral-100);
    }

    &:has(> header, > footer) > :not(header):not(footer) {
      padding: var(--spacing-6);
    }
  }

  /* Reduce padding when the card's parent container is narrow */
  @container (max-width: 320px) {
    article {
      padding: var(--spacing-3);

      & > header,
      & > footer {
        padding: var(--spacing-3);
      }

      &:has(> header, > footer) > :not(header):not(footer) {
        padding: var(--spacing-3);
      }
    }
  }

  /* Reduce padding when the card's parent container is narrow */
  @container (max-width: 200px) {
    article {
      padding: var(--spacing-2);

      & > header,
      & > footer {
        padding: var(--spacing-2);
      }

      &:has(> header, > footer) > :not(header):not(footer) {
        padding: var(--spacing-2);
      }
    }
  }
}
