@layer jazz {
  .empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: var(--jazz-spacing-3);
    padding: var(--jazz-spacing-8);
    color: var(--jazz-neutral-400);

    margin: auto;

    > svg {
      width: 2.5rem;
      height: 2.5rem;
      background: var(--jazz-neutral-100);
      color: var(--jazz-neutral-800);
      padding: 0.5rem;
      border-radius: 6px;
    }

    > :is(h1, h2, h3, h4, h5, h6) {
      color: var(--jazz-neutral-950);
    }

    p {
      max-width: 35ch;
    }

    > button,
    > a,
    > .button,
    > footer {
      margin-top: var(--jazz-spacing-2);
    }

    > footer {
      display: flex;
      gap: var(--jazz-spacing-2);
    }
  }
}
