@layer jazz {
  .prose {
    > h1,
    > h2,
    > h3,
    > h4,
    > h5,
    > h6,
    > p,
    > label {
      margin: 0 0 var(--jazz-typography-spacing-vertical) 0;
    }

    p {
      line-height: 1.6;
    }

    > ul,
    > ol {
      padding-inline-start: 0;
      list-style-position: outside;
      margin: 0 0 var(--jazz-typography-spacing-vertical) 0;

      display: flex;
      flex-direction: column;
      gap: 0.5lh;

      li {
        margin-inline-start: 1.5em;

        &::marker {
          color: var(--jazz-neutral-400);
        }
      }
    }

    > ol {
      li::marker {
        font-variant-numeric: tabular-nums;
      }
    }

    a {
      color: var(--jazz-primary);
    }
  }
}
