@layer jazz {
  label:has(> input:where([type="radio"])) {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
    user-select: none;

    &:has(> input:disabled) {
      opacity: 0.4;
      cursor: default;
    }
  }

  input[type="radio"] {
    appearance: none;
    width: 1.125rem;
    aspect-ratio: 1;
    border-radius: 50%;
    outline: 1.5px solid var(--jazz-neutral-300);
    outline-offset: -1px;
    background-color: var(--background-color);
    cursor: pointer;
    flex-shrink: 0;
    transition:
      background-color 100ms,
      outline-color 100ms;

    &:checked {
      background-color: var(--jazz-primary);
      outline-color: var(--jazz-primary);
      mask-image: radial-gradient(circle, transparent 30%, black 31%);
    }

    &:focus-visible {
      outline: 2px solid var(--jazz-primary);
      outline-offset: 2px;
    }

    &:disabled {
      opacity: 0.4;
      cursor: default;
    }
  }
}
