@layer jazz {
  label.toggle {
    display: inline-grid;
    text-align: center;
    grid-auto-flow: column;
    align-items: center;
    gap: var(--spacing);
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-3);
    border-radius: var(--spacing-3);
    outline: 1px solid var(--jazz-neutral-200);
    outline-offset: -1px;
    cursor: pointer;
    user-select: none;
    transition:
      background-color 100ms,
      outline-color 100ms,
      color 100ms;

    font-weight: 500;

    > input[type="checkbox"],
    > input[type="radio"] {
      appearance: none;
      display: none;
    }

    svg {
      transition: background-color 100ms;
    }

    [data-checked],
    [data-unchecked] {
      grid-column: 1;
      grid-row: 1;
      transition:
        opacity 150ms ease,
        scale 150ms ease,
        display 150ms allow-discrete;
    }

    [data-checked] {
      display: none;
      opacity: 0;
      scale: 0.75;
    }

    [data-unchecked] {
      display: revert;
      opacity: 1;
      scale: 1;

      @starting-style {
        opacity: 0;
        scale: 0.75;
      }
    }

    &:has(> input:checked) {
      background-color: var(--jazz-neutral-100);
      outline-color: var(--jazz-neutral-400);

      [data-checked] {
        display: revert;
        opacity: 1;
        scale: 1;

        @starting-style {
          opacity: 0;
          scale: 0.75;
        }
      }

      [data-unchecked] {
        display: none;
        opacity: 0;
        scale: 0.75;
      }
    }

    &.ghost {
      background-color: transparent;
      outline-color: transparent;
    }

    &.ghost:has(> input:checked) {
      background-color: var(--jazz-neutral-100);
      outline-color: transparent;
    }

    &.fill:has(> input:checked) {
      svg {
        fill: currentColor;
        color: var(--jazz-primary);
      }
    }

    &:focus-within {
      outline: 2px solid var(--jazz-primary);
      outline-offset: 2px;
    }

    &:has(> input:disabled) {
      opacity: 0.4;
      cursor: default;
    }

    &.square {
      padding-inline: var(--spacing-2);
    }
  }
}
