@layer jazz {
  label:not(.field).toggle {
    display: inline-grid;
    text-align: center;
    grid-auto-flow: column;
    align-items: center;
    gap: var(--spacing);
    padding-block: var(--spacing-2);
    padding-inline: var(--spacing-3);
    border-radius: var(--spacing-3);
    outline: 1px solid var(--jazz-neutral-200);
    outline-offset: -1px;
    cursor: pointer;
    user-select: none;
    interpolate-size: allow-keywords;
    transition:
      background-color 100ms,
      outline-color 100ms,
      color 100ms,
      grid-template-columns var(--toggle-duration) var(--ease-glide);

    --toggle-duration: 150ms;

    font-weight: 500;
    line-height: calc(16 / 14 * 1rem);

    > input[type="checkbox"],
    > input[type="radio"] {
      appearance: none;
      display: none;
    }

    svg {
      transition: background-color 100ms;
    }

    [data-checked],
    [data-unchecked] {
      overflow: hidden;
      white-space: nowrap;
      transition:
        opacity var(--toggle-duration) ease,
        scale var(--toggle-duration) ease,
        display var(--toggle-duration) allow-discrete;
    }

    [data-unchecked] {
      grid-column: 1;
      grid-row: 1;
      display: revert;
      opacity: 1;
      scale: 1;

      @starting-style {
        opacity: 0;
        scale: 0.75;
      }
    }

    [data-checked] {
      grid-column: 1;
      grid-row: 1;
      display: none;
      opacity: 0;
      scale: 0.75;
    }

    /* &:has([data-unchecked]) {
      grid-template-columns: max-content 0px;
    } */

    &:has(> input:checked) {
      background-color: var(--jazz-neutral-100);

      [data-checked] {
        display: revert;
        opacity: 1;
        scale: 1;

        @starting-style {
          opacity: 0;
          scale: 0.75;
        }
      }

      [data-unchecked] {
        display: none;
        opacity: 0;
        scale: 0.75;
      }

      /* &:has([data-unchecked]) {
        grid-template-columns: 0px max-content;
      } */
    }

    &.ghost {
      background-color: transparent;
      outline-color: transparent;
    }

    &.ghost:has(> input:checked) {
      background-color: var(--jazz-neutral-100);
      outline-color: transparent;
    }

    &.fill:has(> input:checked) {
      svg {
        fill: currentColor;
        color: var(--jazz-primary);
      }
    }

    &:focus-within {
      outline: 2px solid var(--jazz-primary);
      outline-offset: 2px;
    }

    &:has(> input:disabled) {
      opacity: 0.4;
      cursor: default;
    }

    &.square {
      padding-inline: var(--spacing-2);
    }
  }
}
